<!DOCTYPE html>
<html>
  <head>
    <title>Erp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id=barralateral" >
	<div class="boton3l">
	<span> &#9776 </span>	
	</div>
	<ul>
		<li><img src="" class="logo"></li>
		 <li>HOME</li>
		<li>registro de factura</li>
		<li>resumen de factura</li>
	</ul>
</div>
<%= yield %>
  </body>
</html>
